<footer class="container border-dark border-top">
<div class="row">
<h3 class="col-md-6 p-3 p-md-5"><strong><a href="{{metadata.url}}">{{metadata.title}}</a></strong></h3>
<p class="col-md-6 p-3 p-md-5">{{metadata.description}}</p>
</div>
</footer>
<div class="p-1 col-12 border-top border-dark text-center"><p></small>Built with <a href="https://11ty.dev">11ty</a> Develope by <a href="https://creativitas.dev">Creativitas</a></small></p></div>