<header class="banner row">
<div class="col-md-10 mx-auto p-5 p-md-5">
<div class="p-5 p-md-5 text-center">
<h1 class="title"><strong><a href="{{page.url}}" class="text-white">{{ title }}</a></strong></h1>
<h2 class="text-white">{{description}}</h2>
</div>
</div>
</header>